@font-face {
  font-family: "Geist";
  src: url("/font/Geist.woff2") format("woff2");
  font-display: swap;
}

body {
  background-color: #0e100f;
}

/* Put all the navbar elements on top of everything else */
nav {
  z-index: 1000;
}

.navbar-section {
  background-color: #0e100f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Transition will animate the section disappearing upwards */
  transition: top 1s;
  border-bottom: 4px solid #f8f6d8;
  height: 120px;
}

.navbar {
  background-color: #080909;
  border: 1px solid #282929;
  border-radius: 20px;
  width: 90%;
  max-width: 550px;
  height: 70px;
  position: absolute;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  left: 0;
  right: 0;
  top: 25px;
  /* Transition for expansion */
  transition: height 240ms cubic-bezier(0.4, 0, 0.6, 1);
}

/* Class applied to navbar when menu button is pressed */
.expanded-nav {
  height: 370px;
  overflow: hidden;
}

.navbar-logo {
  height: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.home-button {
  text-decoration: none;
}

.home-link {
  font-family: "Geist", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 60px;
  top: 23px;
}

.login-link {
  text-decoration: none;
  position: absolute;
  right: 175px;
  top: 26px;
}

.login-link::after {
  content: "";
  position: absolute;
  background: #323237 padding-box;
  width: 70px;
  height: 35px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.11) 0px -1px 1px 0px inset,
    rgba(0, 0, 0, 0) 0px 8px 2px 0px,
    rgba(0, 0, 0, 0.01) 0px 5px 2px 0px,
    rgba(0, 0, 0, 0.04) 0px 3px 2px 0px,
    rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
}

.login-link-text {
  position: relative;
  font-family: "Geist", sans-serif;
  color: #e7e7e7;
  font-weight: 600;
  font-size: 16px;
  z-index: 2;
  top: -1px;
}

.signup-link {
  text-decoration: none;
  position: absolute;
  right: 63px;
  top: 26px;
}

.signup-link::after {
  content: "";
  position: absolute;
  background: #dbdbdb padding-box;
  width: 100px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.11) 0px -1px 1px 0px inset,
    rgba(0, 0, 0, 0.07) 0px 8px 2px 0px,
    rgba(0, 0, 0, 0.04) 0px 3px 2px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
}

.navbar-signup-text {
  font-family: "Geist", sans-serif;
  font-weight: 600;
  color: #000;
  z-index: 2;
  font-size: 16px;
  position: relative;
  top: -1px;
  left: 4px;
}

.user-plus-icon {
  width: 16px;
  z-index: 2;
  position: relative;
  right: 2px;
}

.menu-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

/* Middle Line */
.menu-btn-icon {
  width: 18px;
  height: 2px;
  background: #FFF;
  position: relative;
  transition: background 240ms ease;
}

/* Before is the top line, after is the one on the bottom. */
.menu-btn-icon::before,
.menu-btn-icon::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: #fff;
  transition: transform 240ms ease;
}

.menu-btn-icon::before {
  transform: translateY(-5px);
}

.menu-btn-icon::after {
  transform: translateY(5px);
}

.menu-btn.animate-menu-btn .menu-btn-icon {
  background: transparent;
}

.menu-btn.animate-menu-btn .menu-btn-icon::before {
  transform: translateY(0) rotate(45deg);
  opacity: 1;
}

.menu-btn.animate-menu-btn .menu-btn-icon::after {
  transform: translateY(0) rotate(-45deg);
  opacity: 1;
}



/* Defines container for the content revealed when the component is expanded. */
.navbar-expanded-content {
  max-height: 390px;
  overflow: hidden;
  width: 90%;
  max-width: 550px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 95px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(16, 1fr);
  /* This clip path makes only the bottom edge clipped */
  clip-path: inset(0 0 100% 0);
  transition: clip-path 240ms cubic-bezier(0.4, 0, 0.6, 1);
  z-index: 1;
}

/* Make grid not apply to anything else. */
.navbar-expanded-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    repeating-linear-gradient(90deg,
      rgba(255, 255, 255, 0.1) 0,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 35px),
    repeating-linear-gradient(0deg,
      rgba(255, 255, 255, 0.1) 0,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 35px);
  mask-image: radial-gradient(ellipse 110% 90%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%);
  -webkit-mask-image: radial-gradient(ellipse 110% 90%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%);
  pointer-events: none;
}

.navbar-expanded-content.reveal-nav-content {
  /* When the reveal-nav-content class is applied, the clip path expands so that the bottom is no longer clipped. */
  clip-path: inset(0 0 0 0);
}

.navbar-expanded-link {
  font-family: "Geist", sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
}

.navbar-expanded-links-left {
  background: transparent;
  grid-area: 1 / 2 / 13 / 10;
}

.navbar-expanded-links-right {
  background: transparent;
  grid-area: 1 / 10 / 13 / 18;
}

.navbar-expanded-seperator {
  background: transparent;
  grid-area: 13 / 1 / 14 / 19;
  position: relative;
}

.navbar-expanded-line {
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 90%);
  -webkit-mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 90%);
  height: 2px;
  color: #fff;
  background: #fff;
  border: none;
  position: relative;
}

.youtube-link-area {
  grid-area: 15 / 2 / 17 / 4;
}

.youtube-link {
  height: 30px;
}

.instagram-link-area {
  grid-area: 15 / 5 / 17 / 7;
}

.instagram-link {
  height: 30px;
}

.linkedin-link-area {
  grid-area: 15 / 8 / 17 / 11;
}

.linkedin-link {
  height: 30px;
}

/* The buttons will be closer together if the screen width is below 470px */
@media screen and (max-width: 500px) {
  .signup-link {
    right: 60px;
  }

  .login-link {
    right: 170px;
  }
}

@media screen and (max-width: 480px) {

  /* The icon on the signup button disappears */
  .user-plus-icon {
    display: none;
  }

  /* Smaller login/signup buttons */
  .signup-link::after {
    width: 70px;
  }

  .login-link::after {
    width: 60px;
  }

  .login-link::after {
    height: 35px;
  }

  .signup-link::after {
    height: 35px;
  }

  /* Move login/signup buttons right to make space */
  .signup-link {
    right: 54px;
  }

  .login-link {
    right: 135px;
  }

  /* Put the text back to its horizontal center because the icon disappeared */
  .navbar-signup-text {
    left: 0;
    /*Make font smaller*/
    font-size: 15px;
  }

  /*Smaller font on login*/
  .login-link-text {
    font-size: 15px;
  }

  /* Move hamburger button right */
  .menu-btn {
    right: 15px;
  }

  /* Move the home link and the logo left */
  .navbar-logo {
    left: 15px;
  }

  /* The elements of the expanded navbar should be smaller */
  .navbar-expanded-link {
    font-size: 14px;
  }

  .youtube-link {
    height: 25px;
  }

  .instagram-link {
    height: 25px;
  }

  .linkedin-link {
    height: 25px;
  }

  /* Make the home link smaller */
  .home-link {
    font-size: 18px;
    top: 23px;
    left: 55px;
  }
}

@media screen and (max-width: 430px) {

  /* Login/signup buttons should disappear at this screen width */
  .login-link {
    display: none;
  }

  .signup-link {
    display: none;
  }

  /* We have more empty space, so move the hamburger button 5px left and the home link 5px right */
  .menu-btn {
    right: 20px;
  }

  .navbar-logo {
    left: 20px;
  }

  .home-link {
    left: 65px;
  }
}